{% extends "student/base.html" %}


{% block title %}
    <title>Display Students</title>
{% endblock title %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags}}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <h1 class="h1_body">Displaying all Students</h1>
    <div class="existing_list">
        <h2 class="h2_body">Existing Students</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>E-mail Address</th>
                    <th>Course Name</th>
                    <th>Marks</th>
                </tr>
            </thead>
            <tbody>
                {% if students %}
                    {% comment %}
                        We loop through the list of students passed from the view and display their details in a table format.
                        If there are no students, we display a message indicating that no students were found.
                        'students' is the context variable that we passed from the view, which contains the list of all student records retrieved from the database.
                    {% endcomment %}
                    {% for student in students %}
                    <tr>
                        <td>{{ student.id }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.course_name }}</td>
                        <td>{{ student.marks }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">No students found.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock content %}