{% load static %}

{% comment %}
    Since this template doesn't inherit from the base template, we need to include the CSS file for styling here as well.
    Here we include a navigation bar from where we can quickly jump to the different pages.
    This way we don't have to manually type and hit the URL every time we want to navigate to a different page.
{% endcomment %}
<header class="header">
    <nav>
        <ul>
            <li><a href="{% url 'student:home' %}">Home</a></li>
            <li><a href="{% url 'student:add_student' %}">Add Student</a></li>
            <li><a href="{% url 'student:display_students' %}">Display Students</a></li>
        </ul>
    </nav>
</header>
